<!--
  Generated template for the ReadQuran page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>readQuran</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ng-template [ngIf]="loaded">

    <ion-searchbar (ionInput)="searchSure($event)" placeholder="Sure Arayın..."
                   [(ngModel)]="searchString"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let sr of searchResultSureList" (click)="selectSR(sr)">
        {{sr.name}}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label floating>Sure Seçiniz</ion-label>
      <ion-select okText="Seç"
                  cancelText="İptal" [(ngModel)]="selectedSure">
        <ion-option *ngFor="let s of kuran.sureList" [value]="s">{{s.name}}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <h1>{{selectedSure.name}}</h1>
    <br>

    <div *ngFor="let ayet of selectedSure.ayetList">
      <p style="color: #488aff">{{ayet.original}}</p>
      <p>{{ayet.translation}}</p>
      <br>
    </div>

  </ng-template>


</ion-content>
