<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{dictionary.importantDays}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ng-template [ngIf]="loaded">
    <ion-list>
      <ion-item *ngFor="let importantDate of importantDayList; let odd=odd; let even=even" [class.odd]="odd"
                [class.even]="even">
        <div>
          {{importantDate.title}}
        </div>
        <div>
          {{importantDate.date}}
        </div>
      </ion-item>
    </ion-list>
  </ng-template>


  <ion-card *ngIf="noInternet">
    <img src="assets/images/no-internet.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{dictionary.noInternetFail}}
      </ion-card-title>
      <p>
        {{dictionary.noInternetFailExplanation}}
      </p>
    </ion-card-content>
  </ion-card>

  <!--<ion-card *ngIf="!noInternet  || noGps">-->
  <!--<img src="assets/images/no-internet.jpg"/>-->
  <!--<ion-card-content>-->
  <!--<ion-card-title>-->
  <!--{{dictionary.noGpsFail}}-->
  <!--</ion-card-title>-->
  <!--<p>-->
  <!--{{dictionary.noGpsFailExplanation}}-->
  <!--</p>-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->


  <style>
    .odd {
      background-color: #FFFFFF !important
    }

    .even {
      background-color: #C4F4F5 !important
    }
  </style>
</ion-content>
