<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template [ngIf]="loaded">
    <h2>{{startupData.namazText}}</h2>
    <ion-card>
      <ion-item class="no-bottom-border item">
        <button ion-button large full clear class="timer-button timer-text">{{timer.displayTime()}}</button>
      </ion-item>
      <!--<ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">-->
      <!--<button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">-->
      <!--<ion-icon name="refresh"></ion-icon>-->
      <!--Reset-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">-->
      <!--<ion-icon name="pause"></ion-icon>-->
      <!--Pause-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">-->
      <!--<ion-icon name="play"></ion-icon>-->
      <!--Resume-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">-->
      <!--<ion-icon name="play"></ion-icon>-->
      <!--Start-->
      <!--</button>-->
      <!--</ion-item>-->
    </ion-card>

    <br>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-2><b [style.color]="getClassColor(startupData.imsakClass)">{{startupData.imsakText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.gunesClass)">{{startupData.gunesText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ogleClass)">{{startupData.ogleText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ikindiClass)">{{startupData.ikindiText}}</b>
        </ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.aksamClass)">{{startupData.aksamText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.yatsiClass)">{{startupData.yatsiText}}</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2><b [style.color]="getClassColor(startupData.imsakClass)">{{startupData.imsakTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.gunesClass)">{{startupData.gunesTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ogleClass)">{{startupData.ogleTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ikindiClass)">{{startupData.ikindiTime}}</b>
        </ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.aksamClass)">{{startupData.aksamTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.yatsiClass)">{{startupData.yatsiTime}}</b></ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-card>
      <p style="text-align:center"><b>{{startupData.locationText}}</b></p>
      <p style="text-align:center"><b>{{startupData.gregorianDateString}}</b></p>
      <p style="text-align:center"><b>{{startupData.hicriDateString}}</b></p>
      <p style="text-align:center; color:#112FF5" *ngIf="startupData.specialDay"><b>{{startupData.specialDayString}}</b>
    </ion-card>


    <br>

    <ion-item (click)="readHadis(startupData.hadith[0])" text-wrap>
      <ion-avatar item-left>
        <img [src]="startupData.hadith[0].avatar">
      </ion-avatar>
      <h5 style="color: #488aff; margin-top: 2%">{{dictionary.hadisOfTheDay}}</h5>
      <p>{{startupData.hadith[0].title}}</p>
      <ion-icon name="md-book" item-right color="primary"></ion-icon>
    </ion-item>

    <br>

    <ion-item (click)="readQuran()" text-wrap>
      <ion-avatar item-left>
        <img src="assets/images/kuranOkuyun.jpg">
      </ion-avatar>
      <p>{{dictionary.readQuran}}</p>
      <ion-icon name="md-search" item-right color="primary"></ion-icon>
    </ion-item>

    <br>


    <ion-item (click)="showClosestMosques()" text-wrap>
      <ion-avatar item-left>
        <img src="assets/images/mosqueIcon.jpg">
      </ion-avatar>
      <p>Yakininizdaki camiler</p>
      <ion-icon name="md-pin" item-right color="primary"></ion-icon>
    </ion-item>

    <!--<ion-list>-->
    <!--<ion-item text-wrap>-->
    <!--&lt;!&ndash;<h2>Item</h2>&ndash;&gt;-->
    <!--<p>{{startupData.hadith[0].title}}</p>-->
    <!--<ion-thumbnail item-start>-->
    <!--<img [src]="startupData.hadith[0].avatar">-->
    <!--</ion-thumbnail>-->
    <!--</ion-item>-->
    <!--</ion-list>-->
  </ng-template>

  <ng-template [ngIf]="!loaded && offlineLoaded">
    <h2>{{startupData.namazText}}</h2>
    <ion-card>
      <ion-item class="no-bottom-border item">
        <button ion-button large full clear class="timer-button timer-text">{{offlineTimer.displayTime()}}</button>
      </ion-item>
      <!--<ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">-->
      <!--<button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">-->
      <!--<ion-icon name="refresh"></ion-icon>-->
      <!--Reset-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">-->
      <!--<ion-icon name="pause"></ion-icon>-->
      <!--Pause-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">-->
      <!--<ion-icon name="play"></ion-icon>-->
      <!--Resume-->
      <!--</button>-->
      <!--<button ion-button icon-left clear small color="primary" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">-->
      <!--<ion-icon name="play"></ion-icon>-->
      <!--Start-->
      <!--</button>-->
      <!--</ion-item>-->
    </ion-card>

    <br>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-2><b [style.color]="getClassColor(startupData.imsakClass)">{{startupData.imsakText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.gunesClass)">{{startupData.gunesText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ogleClass)">{{startupData.ogleText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ikindiClass)">{{startupData.ikindiText}}</b>
        </ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.aksamClass)">{{startupData.aksamText}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.yatsiClass)">{{startupData.yatsiText}}</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2><b [style.color]="getClassColor(startupData.imsakClass)">{{startupData.imsakTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.gunesClass)">{{startupData.gunesTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ogleClass)">{{startupData.ogleTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.ikindiClass)">{{startupData.ikindiTime}}</b>
        </ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.aksamClass)">{{startupData.aksamTime}}</b></ion-col>
        <ion-col col-2><b [style.color]="getClassColor(startupData.yatsiClass)">{{startupData.yatsiTime}}</b></ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-card>
      <p style="text-align:center"><b>{{startupData.locationText}}</b></p>
      <p style="text-align:center"><b>{{startupData.gregorianDateString}}</b></p>
    </ion-card>

    <ion-item text-wrap>
      <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
      <p>{{dictionary.currentlyShowingOfflineData}}</p>
    </ion-item>

  </ng-template>


  <ion-card *ngIf="noInternet && !offlineLoaded">
    <img src="assets/images/no-internet.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{dictionary.noInternetFail}}
      </ion-card-title>
      <p>
        {{dictionary.noInternetFailExplanation}}
      </p>
    </ion-card-content>
  </ion-card>


  <style>
    .timer-button {
      font-size: 5rem !important;
      height: 1em !important;
    }

    .no-bottom-border.item .item-inner {
      border-bottom: none !important;
    }
  </style>
</ion-content>
